name: "Develop Push Events Workflow"

on:
  push:
    branches: [develop]

permissions:
  pull-requests: write
  id-token: write
  contents: read
  actions: read
  security-events: write

jobs:
  prepare-secrets:
    runs-on: ubuntu-latest
    outputs:
      ecr_repository_url: ${{ secrets.ECR_REPOSITORY_URL }}
      aws_role_arn_shared: ${{ secrets.AWS_ROLE_ARN_SHARED }}
      aws_role_arn_dev: ${{ secrets.AWS_ROLE_ARN_DEV }}
      aws_region: ${{ secrets.AWS_REGION != '' && secrets.AWS_REGION || 'us-east-1' }}
    steps:
      - name: Prepare secrets
        run: echo "Secrets prepared"

  develop-push-events:
    needs: prepare-secrets
    uses: gocloudLa/poc-workflows-shared/.github/workflows/shared-develop-push-events-python.yml@main
    with:
      ecr_repository_url: ${{ needs.prepare-secrets.outputs.ecr_repository_url }}
      aws_role_arn_shared: ${{ needs.prepare-secrets.outputs.aws_role_arn_shared }}
      aws_role_arn_dev: ${{ needs.prepare-secrets.outputs.aws_role_arn_dev }}
      aws_region: ${{ needs.prepare-secrets.outputs.aws_region }}
      service_name: python-service
    secrets: inherit

