name: "Release Events Workflow"

on:
  release:
    types: [published]

permissions:
  pull-requests: write
  id-token: write
  contents: read

jobs:
  prepare-secrets:
    runs-on: ubuntu-latest
    outputs:
      ecr_repository_url: ${{ secrets.ECR_REPOSITORY_URL }}
      aws_role_arn_prod: ${{ secrets.AWS_ROLE_ARN_PROD }}
      aws_region: ${{ secrets.AWS_REGION != '' && secrets.AWS_REGION || 'us-east-1' }}
    steps:
      - name: Prepare secrets
        run: echo "Secrets prepared"

  release-events:
    needs: prepare-secrets
    uses: gocloudLa/poc-workflows-shared/.github/workflows/shared-release-events.yml@main
    with:
      ecr_repository_url: ${{ needs.prepare-secrets.outputs.ecr_repository_url }}
      aws_role_arn_prod: ${{ needs.prepare-secrets.outputs.aws_role_arn_prod }}
      aws_region: ${{ needs.prepare-secrets.outputs.aws_region }}
      service_name: python-service
      release_tag: ${{ github.event.release.tag_name }}
    secrets: inherit

